h1 {
    text-align: center;
}

.table_facture {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.table_facture th,td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.table_facture th {
    background-color: #f2f2f2;
}
.total {
    font-weight: bold;
}
.info{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom:10px;
}
.info p{
    font-weight: 600;
}